<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TourLand</title>
</head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6f2f0f2d95.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/tourlandMain.css"/>

{% block registerFormCss %}
{% endblock %}

<body>
{% block header %}
{% endblock %}

<div id="container">

    {% block script %}
    {% endblock %}

    {% block registerFormScript %}
    {% endblock %}


    {% block section %}
    {% endblock %}

    {% block loginScript %}
    {% endblock %}

    {% block loginSectionBlock %}
    {% endblock %}

    {% block loginScriptButton %}
    {% endblock %}


    {% block registerFormSection %}
    {% endblock %}

    {% block tourlandProductKRList %}
    {% endblock %}

    {% block CustBoardListSection %}
    {% endblock %}

    {% block Pagination %}
    {% endblock %}

</div>

{% block Footer%}
{% endblock%}
</body>
</html>
