{% extends 'boardlayout.html' %}

{% block header %}
{% include '../../include/userHeader.html' %}
{% endblock%}

{% block Section %}
<section>
    {%- include("../../include/userBoardMenu.html")%}
    <div id="myreserv">
        <h1>공지사항</h1>
        <br>
        <table id="reserv">
            <tr>
                <th></th>
                <th class="nono">번호</th>
                <th class="thTitle">제목</th>
                <th>작성자</th>
                <th class="lastTh">작성일자</th>
            </tr>
            {% for nf in noticeLists %}
            {% if nf.fixed === 1 %}
            <tr>
                <td><span class="fixedTop">공지</span></td>

                <td class="nono">{{nf.no}}</td>
                <td class="thTitle"><a href="/notice/detail/{{nf.no}}?currentPage={{pagingData.currentPage}}" style="text-decoration: none;">{{nf.title}}</a>
                </td>
                <td>{{nf.writer}}</td>
                <td>{{nf.regdate}}</td>
            </tr>
            {% endif %}
            {% endfor %}

            {% for n in noticeLists %}
            {% if n.fixed === 0 %}
            <tr>
                <td></td>
                <td class="nono">{{n.no}}</td>
                <td class="thTitle"><a href="/notice/detail/{{n.no}}?page={{cri.page}}" style="text-decoration: none;">{{n.title}}</a>
                </td>
                <td>{{n.writer}}</td>
                <td>{{n.regdate}}</td>
            </tr>
            {% endif%}

            {% endfor %}
        </table>
        <br>

        <center>
            <ul class="pagination" id="pagination"></ul>
        </center>

    </div>
    <div>

    </div>
</section>
{% endblock %}


{% block SearchScript %}
<script>
    $("#btnSearch").click(function () {
        var searchType = $("#searchType").val();
        var keyword = $("#keywordInput").val();
        location.href = "tourlandBoardNotice?searchType=" + searchType + "&keyword=" + keyword;
        //searchBoardController의 listPage GET 으로 받음

    })

</script>
{% endblock %}

{% block Pagination %}
{%- include("../../include/pagination.html") %}
{% endblock %}

{% block Footer %}
{% include '../../include/userFooter.html' %}
{% endblock%}