{% extends 'boardlayout.html' %}
{% block header %}
{% include '../../include/userHeader.html' %}
{% endblock%}
{% block Stylesheet %}
<style>
  #boardRegister,
  #btnReturnToList {
    width: 100px;
    height: 30px;
    border: none;
    background: mistyrose;
  }
  #ptag {
    padding: 20px 20px;
    color: gray;
  }
  #writerP {
    padding-bottom: 10px;
  }
  #titleP {
    padding-top: 15px;
  }
  #btnSearch {
    width: 72px;
    margin-left: 30px;
  }
  #searchType {
    padding: 3px;
  }
  #searchType2 {
    padding: 2px;
    margin: 0px 8px;
  }
  #keywordInput {
    padding: 2px;
  }
</style>
{% endblock %}

{% block Section %}
<section>
  {%- include("../../include/userBoardMenu.html")%}
  <div id="detailDiv">
    <div style="width: 315px; height: 115px">
      <br />
      <p id="ptag">고객님들의 소중한 의견을 들려주세요.</p>
      <br />
    </div>
    <div id="detailContent">
      <form
        method="post"
        id="planBoardForm"
      >
        <div class="box-body" style="text-align: center">
          <select name="lcate" id="lcate">
            <option value="">전체</option>
            <option value="D">국내패키지상품</option>
            <option value="I">해외패키지상품</option>
            <option value="R">상품 예약 및 결제</option>
            <option value="U">회원혜택안내</option>
          </select>
          <select name="mcate" id="mcate">
            <option value="N">===========</option>
          </select>
        </div>
        <div id="writerP">
          <label>작성자</label>

          {% if user !== undefined %}
          <span>[ {{user.username}} ]</span>
          <input type="hidden" name="username" id="username" value="{{user.username}}" />
          <input
            type="hidden"
            name="userid" 
			id="userid"
            class="form-control"
            value="{{user.userid}}"
          />
          {% else %}
          <span></span>
          <input
            type="text"
            name="username"
			id="username"
            style="border: none; border-bottom: 1px solid black; width: 100px"
          />
          <input type="hidden" name="userid" id="userid" value="customer" class="form-control" />
          {% endif %}
        </div>
        <div id="titlaP">
          <label>제목</label>
          <input
            type="text"
            name="title"
			id="title"
            class="form-control"
            required="required"
            style="border: none; border-bottom: 1px solid black; width: 400px"
          />
        </div>
        <div>
          <textarea
            rows="15"
            cols="100"
            style="margin-top: 10px"
            placeholder="  내용을 입력하세요"
            name="content"
			id="content"
            class="form-control"
            required="required"
          ></textarea>
        </div>
        {#
        <div>
          <label>비밀번호 설정</label>
          <input
            type="text"
            name="passwd"
            class="form-control"
            required="required"
          />
        </div>
        #}
        <div style="text-align: center">
          <button type="button" class="btn btn-primary" id="boardRegister">
            등록
          </button>
          <button type="button" class="btn btn-primary" id="btnReturnToList">
            목록으로
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %} {% block SearchScript %}

<script>
let option = null; 
let option1 = null;
let option2 = null;
let option3 = null;
let option4 = null;
  const makeDetailOption = function (lcate) {
    switch (lcate) {
      case "D":
        option = $("<option value='J'>").html("제주여행");
        $("#mcate").append(option);
        break;
      case "I":
        option = $("<option value=''>").html("전체");
        option1 = $("<option value='P'>").html("여행상품");
        option2 = $("<option value='V'>").html("여권 및 비자");
        option3 = $("<option value='T'>").html("환율");
        option4 = $("<option value='E'>").html("기타");
        $("#mcate")
          .append(option)
          .append(option1)
          .append(option2)
          .append(option3)
          .append(option4);
        break;
      case "R":
        option = $("<option value=''>").html("전체");
        option1 = $("<option value='B'>").html("예약 및 취소");
        option2 = $("<option value='R'>").html("결제 및 환불");
        $("#mcate").append(option).append(option1).append(option2);
        break;
      case "U":
        option = $("<option value='C'>").html("쿠폰,이벤트");
        $("#mcate").append(option);
        break;
      default:
        option = $("<option value=''>").html("-----------");
        $("#mcate").append(option);
    }
  };
  const fixSearchTypeAndKeyword = function () {
    let lcate = "";
    let mcate = "";
    let keyword = "";
    $("#mcate").empty();
    makeOption(lcate);
    $("#lcate option").each(function (i, obj) {
      const value = $(this).val();
      if (value == lcate) {
        $(this).prop("selected", true);
        return;
      }
    });
    $("#mcate option").each(function (i, obj) {
      const value = $(this).val();
      if (value == mcate) {
        $(this).prop("selected", true);
        return;
      }
    });
  };

  $("#lcate").change(function () {
    $("#mcate").empty();
    makeDetailOption($("#lcate option:selected").val());
  });

 
</script>

<script>

  $("#btnReturnToList").click(function () {
    location.href = "/plan/list";
  });

	const form = document.querySelector('form');
	const lcateInput = document.querySelector('#lcate');
	const mcateInput = document.querySelector('#mcate');
	const titleInput = document.querySelector('#title');
	const contentInput = document.querySelector('#content');
	const usernameInput = document.querySelector('#username');
	const useridInput = document.querySelector('#userid');
	const boardRegister = document.querySelector('#boardRegister');

	{# const fileInput = document.querySelector('#input-multi-files'); #}

  form.addEventListener('click', (e) => {

        e.preventDefault();
		const formData = new FormData();
		formData.append('title', titleInput.value);
		formData.append('content', contentInput.value);
		formData.append('username', usernameInput.value);
		formData.append('userid', useridInput.value);
		formData.append('lcate', lcateInput.value);
		formData.append('mcate', mcateInput.value);

		console.log("formData->", formData.get("title"),  titleInput.value);
        const config = {
          headers: {
            'Content-Type': 'multipart/json'
          }
        };
        const data = {
          title: titleInput.value
        }

		axios.post('/plan/add',data, config).then((res)=>{
          console.log("axios---------1>");

				if(res.status === 200){
				}

			}).catch((error)=>{
				console.error(error);
			})


   	});
</script>

{% endblock %} {% block Footer %} {% include '../../include/userFooter.html' %}
{% endblock%}
