{% extends 'tourlandLayout.html' %} {% block header %} {% include
'../../include/userHeader.html' %} {% endblock%} {% block CustBoardListSection
%}
<link href="/stylesheets/paging.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/boardStyle.css" rel="stylesheet" type="text/css" />
<style>
  section nav ul li:nth-child(3) {
    background: mistyrose;
  }

  #btnWrite {
    width: 100px;
    padding: 5px;
    background: mistyrose;
    border: none;
    margin-left: 40px;
  }
</style>
<section>
  <div>
    <ul  id="post-list">
    </ul>

  </div>

  <script>
    function btnWrite() {
      location.href = "tourlandCustBoardRegister";
    }
  
    // 게시글 목록을 가져오는 함수
    function getPostList() {
      return axios
        .get("/customer/api/tourlandCustBoardApi")
        .then((response) => {

          console.log("2222222", response.data.list)

          return response.data.list;
        })
        .catch((error) => {
          console.log(error);
        });
    }
  
    // 게시글 목록을 렌더링하는 함수
    function renderPostList(data) {
      // 이전 게시글 목록을 저장합니다.

      let $prevPosts = $("#post-list").find(".post");
  
      console.log("3333333333", $prevPosts.text());

      // 새 게시글 목록을 생성합니다.
      let $newPosts = data.map(function (i, post) {

        console.log("3333333333",post);

        var $list = $('#post-list');
        var $newItem = $('<li>');
        var $newSpan = $('<span>').text(i.title);
        $newItem.append($newSpan);
        $list.append($newItem);

      });
  
  

      // 새 게시글을 추가합니다.
//      $("#post-list").append(newPosts.filter(":not(.post-deleted)"));
      $("#post-list").append($newPosts);
    }
  
    // 게시글 목록을 갱신하는 함수
    function refreshPostList() {

      getPostList().then((data) => {
        console.log("11111111111111", data);
        renderPostList(data);
      });
    }
  
    // 게시글 삭제 버튼 클릭 시 해당 게시글을 삭제합니다.
    $(".delete-button").click(function () {
      var postId = $(this).data("post-id");
  
      axios
        .delete("/customer/api/posts/" + postId)
        .then((response) => {
          // 삭제된 게시글을 표시합니다.
          $("#post-list")
            .find('[data-post-id="' + postId + '"]')
            .addClass("post-deleted");
        })
        .catch((error) => {
          console.log(error);
        });
    });
  
    // 초기 페이지 로딩 시 게시글 목록을 가져와서 렌더링합니다.
    refreshPostList();
  </script>
  

</section>
{% endblock %} 

{% block Pagination %} 
{% include '../../include/pagination.html'%} 
{% endblock%}

{% block Footer %} {% include '../../include/userFooter.html' %} {% endblock%}
